<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="controller" class="ru.unclediga.saburov.register.rest.MarriageController">
        <property name="marriageManager" ref="manager"/>
    </bean>
    <bean id="manager" class="ru.unclediga.saburov.register.manager.MarriageManager">
        <property name="marriageDao" ref="dao"/>
    </bean>
    <bean id="dao" class="ru.unclediga.saburov.register.dao.MarriageDao">
        <property name="test" value="SIMPLE"/>
    </bean>
</beans>